export "@/main.scss";

$primary-color: #112948;
$secondary-color: #00B1FF;
$text-color: #1A3150;
$background-color: #FFFFFF;
$accent-color: #ff9900;
$overflow-color: #E1E7ED;
$border-color-secondary: #1A315066;
$static-color: #6F8CAA;

